{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.
{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager", {ref, "e6b31784e65b838a10d0a533f4b838da8029e402"}}},
    {eqwalizer_support,
        {git_subdir,
            "https://github.com/whatsapp/eqwalizer.git",
            {branch, "main"},
            "eqwalizer_support"}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [elp_repro_lager_transform]}
]}.

{project_plugins, [
    {eqwalizer_rebar3,
        {git_subdir,
            "https://github.com/whatsapp/eqwalizer.git",
            {branch, "main"},
            "eqwalizer_rebar3"}}
]}.
